*{
    font-family: "Roboto", sans-serif;
}


body{
    background-color: rgb(231 231 231);
}


footer{
    background-color: rgb(27, 78, 27);
}

h1{
    color: rgb(8, 8, 61);
    text-decoration: underline dotted;

}

.title{
    color: rgb(145, 47, 17);
}

.pNav{
    display: inline-flex;
}

.pNav a{
    
    padding-left: 5px;
}



.shadow{
    text-shadow: 2px 2px 5px red;
}   

footer{
    text-align: center;
}

.footer{
    color: white;
}

